.search {
  height: 500px;
  width: 100%;
  background: url("../../assets/hero-banner.jpg") no-repeat center;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__page-logo {
    position: absolute;
    img {
      height: 3em;
      object-fit: contain;
      margin-right: 1em;
      @media screen and (max-width: 450px) {
        height: 2em;
      }
    }
    left: 2em;
    top: 2em;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    border-bottom: 2px solid white;
    img {
      height: 3em;
      object-fit: contain;
      margin-right: 1em;
    }

    p {
      font-size: 2em;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
  }

  &__info {
    text-align: center;
    margin: 1.2em auto;
    max-width: 22em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__input-wrap {
    width: 70%;
    max-width: 700px;
    min-width: 20em;
    position: relative;
    &__input {
      padding: 1em 2em 1em 6em;
      width: 100%;
      border-radius: 0.5em;
      font-size: 1em;
      border: none;
      cursor: pointer;
      background: url("../../assets/search.png") no-repeat 3em center;
      background-size: 3.5%;
      background-color: rgb(252, 252, 252);
    }

    .loader {
      position: absolute;
      height: 2em;
      width: 2em;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media screen and (max-width: 450px) {
    font-size: 0.8em;
  }
}
