.slide-container {
  margin: 0 auto;
  overflow: hidden;
  // width: 88%;
  .slide {
    display: flex;
    transition: transform 0.9s ease;
    .starship {
      width: 25%;
      margin: 0em 1em 2em;
    }
    .character {
      width: 35%;
      min-width: 300px;
      margin: 0em 1em 2em;
    }
    @media screen and (max-width: 950px) {
      display: grid;
      width: 100% !important;
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
      grid-gap: 4em;
      justify-content: center;
    }
  }
  .radiowrap {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  @media screen and (max-width: 950px) {
    width: 100% !important;
  }
}
