.starship-view {
    display: flex;
    flex-flow: column;
    position: relative;
    min-height: 100vh;

   
    &__img {
        background: url("../../assets/hero-banner.jpg") no-repeat center;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .title-wrap {
            display: flex;
            align-items: center;
            position: absolute;
            left: 10%;
            bottom: 10%;
            .edge1 {
                border: 3px solid white;
                width: 3em;
                height: 7em;
                border-right: none;
            }
            h2 {
                font-size: 3em;
                font-weight: bold;
                text-align: left;
                color: white;
                margin: 0;
            }
            .edge2 {
                border: 3px solid white;
                width: 3em;
                height: 7em;
                border-left: none;
            }
        }

        .arrows {
            display: flex;
            position: absolute;
            right: 5%;
            bottom: 10%;

            .left, .right {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                border-radius: 100%;
                margin: 0 1.5em;
                padding: 2em;
            }
        }
        
        img {
            height: 550px;
            object-fit: contain;
        }
        &__logo {
            position: absolute;
            img {
                height: 4em;
                object-fit: contain;
                margin-right: 1em;
            }
            left: 2em;
            top: 2em;
        }
      
    }
    &__content {
        flex-grow: 1;
        width: 50%;
        margin: 4em auto;
        min-height: 500px;
        text-align: center;
        h2 {
            font-size: 2em;
            font-weight: bold;
            text-align: left;
        }
        p{
           font-size: 1.6em;
           color: rgb(46, 46, 46);
           line-height: 2em;
           text-align: left;
           margin: 2em auto;
        }
    }

    .recently-viewed {
        margin-bottom: 4em;
        &__title {
            width: 88%;
            margin: 2em auto;
            padding: 0 2em;
            text-align: center;
            h2 {
                padding: 0.5em;
                border: 2px solid rgb(207, 207, 207);
                width: fit-content;
                margin: 0.4em auto;
                color: rgb(100, 100, 100);
            }
            .line {
                height: 2px;
                background-color: rgb(207, 207, 207);
            }
        }
    }
}