.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  .pageTitle {
    color: rgb(190, 190, 190);
    margin-right: 1.2em;
    margin: 0 2em;
    font-size: 1em;
    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  .right, .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em;
    margin: 0 2em;
    font-size: 0.8em;
    font-family: "Salsa", cursive;
    background: #ffffff;
    border: 0.6px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    border-radius: 4px;
    span {
      font-size: 1em;
      font-family: 'Salsa' cursive;
      margin-right: 1em;
    }

  }
  .left {
    span {
      margin-left: 1em;
    }
  }

  .lighten {
    border: 0.6px solid rgb(190, 190, 190);
    span {
      color: rgb(190, 190, 190)
    }
      svg {
          path {
              fill: rgb(190, 190, 190) !important;
          }
      }
  }
}
